/*
 Theme Name:   Child Theme
 Description:  Custom theme from Kleurvision Inc.
 Author:       Kleurvision Inc
 Author URI:   http://kleurvision.com
 Template:     divi
 Version:      1.0.0
 License:      2015 Kleurvision Inc.
 Text Domain:  childtheme
*/

#logo{
	max-width: 270px;
	height: auto!important;
	max-height: inherit!important;
}

.et_pb_button.et_pb_custom_button_icon.et_pb_button_0.et_pb_module.et_pb_bg_layout_light,
.et_pb_button.et_pb_custom_button_icon.et_pb_button_1.et_pb_module.et_pb_bg_layout_light {
    margin: 50px 0;
}

small {
    font-size: smaller;
}

p.footer {
   text-align: center;
}

header#main-header {
   height: 65px;
}

ul {
    list-style-image: url('/wp-content/uploads/2016/03/ul.png');
 }

li.services {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 2px;
}

.page-id-76 #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu, .page-id-97 #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu, .page-id-137 #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu, .page-id-166 #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu, .page-id-105 #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
    background-color: #222!important;
}

.et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_split .et-fixed-header #et-top-navigation {
    padding-top: 35px;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_0.et_pb_toggle_open {
    background-color: #d9332b;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_0.et_pb_toggle_close {
    background-color: #d9332b;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_1.et_pb_toggle_open {
    background-color: #96328c;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_1.et_pb_toggle_close {
    background-color: #96328c;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_2.et_pb_toggle_open {
    background-color: #DB6612;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_2.et_pb_toggle_close {
    background-color: #DB6612;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_3.et_pb_toggle_open {
    background-color: #eab800;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_3.et_pb_toggle_close {
    background-color: #eab800;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_4.et_pb_toggle_open {
    background-color: #3085cc;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_4.et_pb_toggle_close {
    background-color: #3085cc;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_5.et_pb_toggle_open {
    background-color: #47ae57;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_5.et_pb_toggle_close {
    background-color: #47ae57;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_6.et_pb_toggle_open {
    background-color: #2b9387;
}

.et_pb_module.et_pb_toggle.et_pb_accordion_item_6.et_pb_toggle_close {
    background-color: #2b9387;
}

.et_pb_toggle {
    border: none;
}

.et_pb_toggle_title:before {
display: none;
}

.et_header_style_split .mobile_menu_bar, .et_header_style_left .mobile_menu_bar {
    position: relative;
    bottom: 60px;
}

.et-top-navigation{
	padding-left:0px;
}

.et_header_style_left #et-top-navigation{
	padding-top: 33px!important;
}

@media (min-width: 980px) {

.content-image img {
    display: none;
}

}

@media (max-width: 980px) {

	.et_pb_column_1, .et_pb_column_2  {
	background-image: none !important;
	}
	
	#main-header{
		background-color: #000!important;
	}
	#et-top-navigation{
		padding-left:0px!important;
	}
	.mobile_menu_bar{
		bottom:10px!important;
	}
	.mobile_menu_bar:before{
		color:#fff!important;
		font-size: 42px!important;
	}
	.et_mobile_menu{
		margin: 0 0 0 5%;
	    width: 70%!important;
	    padding-top: 80px;
	    padding-bottom: 20px;
	    top: 65px;
	    list-style: none;
	    max-width: 280px;
	}
	
	.et_mobile_menu li{
		text-align: center;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #000;
	}
	
	.et_mobile_menu li a{
		font-size: 18px;
		padding: 12px 0;
	}
	
	.et_mobile_menu li:last-child{
		border-bottom: 0px;
	}
	
	#logo{
		max-width:50%!important;
	}
}

@media only screen and (max-width: 767px){
	
	.et_mobile_menu{
		padding-top: 30px!important;
		max-width: 230px;
		top: 50px;
		z-index: -1;
	}
	
	#logo{
		max-width:280px!important;
		width: 80%;
	}
	
	header#main-header {
	   height: 50px;
	}
	.et_header_style_left #et-top-navigation{
		padding-top: 15px!important;
	}
	.et_header_style_split .mobile_menu_bar, .et_header_style_left .mobile_menu_bar{
		padding-bottom: 0px!important;
	}
	
}