/* Google Forms */
div.ss-form-entry>input {
  background-color: #e0e0e0;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

input.ss-q-short, textarea.ss-q-long {
  width: 100%!important;
  padding: 7px;
  font-size: 16px;
}

.ss-container {
	min-height: 400px;
}

.ss-section-title{
	margin: 20px 0 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f1f1f1;
}

.ss-form-entry{
	margin-bottom: 20px;
}

.ss-q-title{
	font-size: 14px;
	font-weight: bold;
}

.ss-response-footer{
	display: none;
}

.ss-item table{
	border: none!important;
}

.ss-item  tr td{
	padding:0px!important;
	border: none!important;
	
}

#ss-submit{
	font-size: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0px;
  padding: 5px 18px;
  line-height: 1.7em;
  background: transparent;
  border: 2px solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}