/* Divi Button Overrides */
.et_pb_promo_button:hover, .et_pb_pricing_table_button:hover, a.et_pb_more_button:hover{
	padding:5px 18px!important;
}

.et_pb_promo_button:after, .et_pb_pricing_table_button:after, a.et_pb_more_button:after{
	content:''!important;
}

.et_pb_promo_button, #ss-submit, a.et_pb_more_button, .et_pb_pricing_table_button{
	font-size: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0px;
  padding: 5px 18px;
  line-height: 1.7em;
  background: transparent;
  border: 2px solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}