@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTW01-55Roman.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTPro-Ex.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTW01-53ExtObl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTPro-MdEx.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTPro-BdEx.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTW01-83HvEx.ttf') format('truetype');
    font-weight: 900;
}

body {
    line-height: 1.8em !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeue';
    font-weight: 900 !important;
    letter-spacing: 0px !important;
}

p {
    font-family: 'HelveticaNeue';
    font-weight: 300;
}

.helveticaneue-regular h1, .helveticaneue-regular h2, .helveticaneue-regular h3, .helveticaneue-regular h4, .helveticaneue-regular h5, .helveticaneue-regular h6, .helveticaneue-regular p {
    font-family: 'HelveticaNeue';
    font-weight: 400 !important;
}

.bold-extended p {
    font-family: 'HelveticaNeue';
    font-weight: 600;
}
.about-mission h2 {
    font-style: italic !important;
    line-height: 2em;
    text-transform: capitalize;
}

.ds-vertical-align { 
    display: flex; 
    justify-content: center;
} 

.content-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#et-top-navigation {
    padding-left: 0px !important;
}

.et_fixed_nav #main-header {
    background-color: rgb(26, 24, 24, .7);
    height: 80px;
}

#top-menu li a {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    background-color: transparent;
    padding: 0px 0px 33px 0px;
}

.et_pb_fullwidth_header_subhead {
    font-family: 'HelveticaNeue';
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 40px;
}

.et_pb_fullwidth_header .et_pb_fullwidth_header_scroll {
    width: 80%;
    text-align: left;
    padding-bottom: 40px;
}

.et_button_no_icon .et_pb_button, .et_button_no_icon .et_pb_button:hover {
    padding: .7em 3em !important;
    letter-spacing: 2px !important;
    font-family: 'HelveticaNeue';
    font-weight: 300;
}

#footer-widgets {
    padding: 0;
}

.et_pb_gutters3 .footer-widget {
    margin-bottom: 0px;
}

#menu-main-nav li a {
    color: #747474 !important;
    text-transform: uppercase;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-size: 12px;
}

#menu-main-nav li {
    list-style-type: none;
}

#menu-main-nav {
    padding: 0px;
}

/* Internal Styles */
.our-services .et_pb_blurb_container {
    vertical-align: middle;
}

.our-services .et_pb_module_header {
    padding-bottom: 0px;
    text-transform: initial;
}

.between-sections-logo {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
}


/* Location Styles */

.location-info .et_pb_section {
    padding-top: 134px;
    margin-left: -15px;
    margin-right: -15px;
}

.single-location-wrapper .row.location-row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}   

.single-location-wrapper .location_content {
    padding: 0px;
}

.single-location-wrapper #sidebar-left {
    float: left;
    padding: 0px;
    background-color: #F2F2F2;
}

#sidebar-left .contact-info .contact-title {
    font-family: 'HelveticaNeue';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0.5em 2em 0px 2em;
}
                               
#sidebar-left .contact-info hr {
    border-top: 1px solid #707070;
}

#sidebar-left .contact-details p {
    font-size: 14px;
    font-family: 'HelveticaNeue';
    font-weight: 300;
    padding-left: 3em;
    line-height: 1.7em;
}
        
.single-location-wrapper .location-inner-content {
    padding: 5em;
}

.single-location-wrapper .about-facility h2 {
    font-family: 'HelveticaNeue';
    font-weight: 400;
    color: #212121;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 20px;
}
                
.single-location-wrapper .about-facility p {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    color: #212121;
    font-size: 15px;
}
            
.single-location-wrapper .location-services h3 {
    font-family: 'HelveticaNeue';
    font-weight: 400;
    color: #212121;
    text-transform: uppercase;
    font-size: 1.8em;
    margin: 30px 0px 40px;
}

.single-location-wrapper .location-services .service-row {
    margin-bottom: 25px;
}

.single-location-wrapper .location-services .service-block {
    padding: 0px 15px;
}

.single-location-wrapper .location-services img {
    max-width: 30px !important;
    float: left;
}

.single-location-wrapper .location-services .service-details {
    padding-left: 40px;
}

.single-location-wrapper .location-services .service-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.single-location-wrapper .location-services .service-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: .3px;
    color: #212121;
}

.single-location-wrapper .location-contact .contact-details {
    display: flex;
    display: webkit-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0px;
}
.single-location-wrapper .location-contact .contact-photo img {
    border-radius: 50%;
    width: 100%;
    max-width: 130px !important;
}

.single-location-wrapper .location-contact .contact-name h5 {
    color: #212121;
    text-transform: uppercase;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
                    
.single-location-wrapper .location-contact .contact-name p {
    color: #212121;
    text-transform: uppercase;
}
                
.single-location-wrapper .location-contact .contact-bio p {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    color: #212121;
    line-height: 1.5em;
    letter-spacing: .3px;
}

.single-location-wrapper .contact-info {
    padding: 10px 0px 30px 0px;
}

.acf-map {
    margin-bottom: 0px !important;
}

.acf-map .gm-style-iw.gm-style-iw-c {
    padding: 0px;
    border-radius: 0px;
}
        
.acf-map .gm-style-iw-d {
    overflow: visible!important;
}

.acf-map .map-marker-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.acf-map .map-pin-image {
    padding-left: 0px;
}

.acf-map .map-pin-image .location-image {
    float: left;
    max-width: 100% !important;
}

.acf-map h4 {
    margin-top: 0px;
}
                
@media (max-width: 980px) {
    .mobile_menu_bar {
        bottom: 15px!important;
    }
    
    .content-vertical-align {
        position: relative;
        top: inherit;
        transform: none;
    }
    
    .row-widths {
        width: 100% !important;
    }
    
    .row-widths .et_pb_column_5, .row-widths .et_pb_column_3 {
        background-image: none;
    }
    
    .location-featured-image {
        text-align: center;
    }
    
    .contact-info {
        text-align: center;
    }
    
    #sidebar-left .contact-details p {
        padding-left: 0;
    }
    
    .single-location-wrapper .about-facility h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .single-location-wrapper .location-services h3 {
        font-size: 1.5em;
        margin-bottom: 30px 0px 30px;
    }
    
    .single-location-wrapper .location-services .service-title {
        font-size: 16px;
    }
    
    .single-location-wrapper .location-contact .contact-name h5 {
        font-size: 22px;
    }
    
    .single-location-wrapper .location-contact .contact-name p {
        font-size: 14px;
    }
    
    .single-location-wrapper .location-services .service-details:first-child {
        padding-bottom: 30px;
    }
    
    .single-location-wrapper .location-services .service-row .service-block:first-child {
        padding: 0px 15px 25px 0px;
    }
    
    .single-location-wrapper .location_content .row.location-row {
        display: block;
        display: block;
        flex-wrap: initial;
    }
    
    .single-location-wrapper .location_content #sidebar-left {
        float: none;
    }
}

@media (max-width: 767px) {
    
    header .container {
        width: 100%;
    }
    
    .et_mobile_menu {
        width: 100% !important;
        background-color: #000 !important;
        max-width: none;
        margin: 0px;
        top: 80px;
        padding-top: 50px !important;
    }
    
    .mobile_menu_bar {
        bottom: -5px!important;
    }
    
    .acf-map .map-pin-image .location-image {
        margin-bottom: 20px;
    }
    
    .map-pin-info {
        padding: 0px 30px;
    }
    
    .map-pin-info p {
        padding-bottom: 20px !important;
    }
    
    .contact-info {
        text-align: left;
    }
    
    #sidebar-left .contact-details p {
        padding-left: 3em;
    }
    
    .single-location-wrapper .location-inner-content {
        padding: 3em;
    }
    
    .contact-name, .contact-photo {
        padding-left: 0px;
    }
    
    .single-location-wrapper .location-contact .contact-photo img {
        border-radius: 50%;
        width: 100%;
        max-width: 100px !important;
    }
}